/* import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');*/

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    min-height: 100%;
}

body {
    background: #fff;
    font-family: 'Lato', sans-serif;
}

body.verify {
    background: #d02600;
    color: white;
}

body.verify .form-control {
    background: #FF5E3B;
    color: white;
}

a {
    color: #0A529D;
}

a.nav-link,
a.nav-link:hover {
    color: white;
}

.nav-item.active {
    text-decoration: underline;
}


li {
    list-style-type: none;
}

.homeimage {
    background-image: url(images/main.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

footer {
    text-align: center;
    margin-top: 2rem;
}

footer p.copywrite {
    color: silver;
    font-size: .875rem;
    margin: 0;
}

footer p.version {
    color: silver;
    font-size: .6rem;
    margin-bottom: 0;
}

.jumbotron {
    background-color: rgba(255, 255, 255, .7);
}

.navbar {
    background-color: #d02600;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar.verify {
    background: linear-gradient(0deg, #d02600 0%, #FF5E3B 100%);
}

.navbar-brand {
    color: white;
}


.navbar-brand .gy-logo {
    width: 1.8rem;
    height: 1.8rem;
}

.navbar-text {
    color: white;
}

.userinfo {
    font-size: large;
    margin-left: auto;
}

.userinfo .username {
    margin-left: 1rem;
}

.errorpage {
    padding: 1rem 0;
    text-align: center;
}

.errorpage > img {
    height: 200px;
    margin-top: 5rem;
}

.errorpage .detailerrorinfo {
    text-align: left;
    font-family: monospace;
}

.errorpage .btn {
    background-color: #f8b10e;
    color: white;
    border: transparent;
    border-radius: 0;
}

.passimg {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.showpass .passimage {
    text-align: center;
    margin-bottom: 2rem;
}


.showpass .passimg {
    width: 100%;
    height: 360px;
}

.verify .passimg {
    width: 100%;
    height: 360px;
    box-shadow: 0 0 4em 4px gold;
    border-radius: 1rem;
}

a.addtowallet {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/addtowallet.svg);
    width: 8rem;
    height: 2rem;
    display: inline-block;
}

.serialno {
    display: block;
    font-size: small;
}

.main {
    margin-top: 6rem;
}

a.btn i {
    margin-right: .4rem;
}


tr.DELETED {
    color: #ccc;
}

tr.unlocked {
    background-color: #ade0ad !important;
}
