/* import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');*/

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    min-height: 100%;
}

body {
    background: #fff;
    font-family: 'Lato', sans-serif;
}

a {
    color: #0A529D;
}

li {
    list-style-type: none;
}

button.nav-link {
    color: black;
}

button:hover.nav-link {
    color: white;
}

.bcmain {
    margin-top: 8rem;
    position: relative;
}

.bcsearch > .container {
    padding-top: 10rem;
}

.search-input {
    border: transparent;
    border-radius: 0;
    height: 60px;
    padding: 0 10px 0 10px;
    font: 20px/11px Lato;
    color: #737373;
}

.find-button {
    background-color: #f8b10e;
    color: white;
    border: transparent;
    border-radius: 0;
    width: 100%;
    height: 60px;
}

.bcsearch {
    display: flex;
    position: relative;
}

.bcsearch::after {
    content: "";
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.bcsearch > * {
    z-index: 2;
}

.bcsearch h1, .bcsearch h3, .bcsearch h4 {
    color: white;
}

.bcsearch .fastlinks {
    text-align: center;
}

.bcsearch .fastlinks a,
.bcsearch .fastlinks button {
    color: white;
    margin: 0 .5rem;
}

.bcsearch .fastlinks hr {
    padding: 0;
    margin: .5ex auto;
    width: 10%;
    border-style: none;
    height: 1px;
    background-color: #FFF;
}

.bcform {
    margin: 1rem auto;
}

.bcheaderimage {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 9rem;
}

.bchomeimage {
    background-image: url(images/main.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.bcsearch button[type='submit'] {
    padding: .1rem .5rem;
    font: 20px/11px Lato;
}

.breadcrumb {
    background-color: white;
}

.bcmenu {
    background-color: #88202078;
    position: fixed;
    width: 100%;
    top: 0;
}

.bcmenu a, .bcmenu a:visited {
    color: #2B2B2B;
    font: 600 16px/35px Lato;
}

.dropdown-menu {
    padding: 0;
}

.nav-link.dropdown-item {
    padding-left: 0.5rem;
}

.bcmain h1 {
    font-size: 2.5rem;
    font-family: Lato, sans-serif;
    color: #707070;
}

.bcmain h2 {
    border-left: 4px solid #f8b10c;
    padding-left: 6px;
    margin: 40px 0 16px;
    font: 300 35px/42px Lato;
    color: #707070;
}

.lead {
    color: white;
}

a.gray-button {
    border-style: none;
    background-color: #f7f7f7;
    color: #0A529D;
    font: 300 16px/29px Lato;
    border-radius: 5%;
    margin: 0.5rem 0.5rem 0.3rem 0;
    padding: 0.4rem;
}

footer {
    text-align: center;
    margin-top: 2rem;
}

footer p.copywrite {
    color: silver;
    font-size: .875rem;
    margin: 0;
}

footer p.version {
    color: silver;
    font-size: .6rem;
    margin-bottom: 0;
}

.jumbotron {
    margin: 3rem;
    background-color: rgba(255, 255, 255, .3);
}

.table > tbody > tr {
    background-color: rgba(255, 255, 255, .3);
}


.table-striped > tbody > tr {
    background-color: #eee;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #ccc;
}

nav ul {
    margin: 0 0 .5ex 0;
}

nav {
    z-index: 5;
}

nav.pagenavigation {
    display: block;
    margin: 1rem auto;
    width: 22rem;
}

.pagenavigation .page-link {
    color: #0A529D;
}

.nav {
    margin: 1ex 0;
}

.alignbottom button {
    position: absolute;
    bottom: 0;
}

.nav {
    position: relative;
    min-height: 2rem;
}

.partner {
    display: inline-block;
    text-align: right;
    font: normal normal normal 10px/11px Lato;
    margin-top: 0.5rem;
    width: 2.7rem;
}

.badge.category,
.badge.locality,
.badge.keyword {
    margin-right: 1em;
}

.card-category {
    margin-right: 0;
}

.localities a {
    color: #0b529d;
    margin-bottom: 1.85rem;
}

.gy-logo {
    height: 40px;
}

.errorimg {
    height: 180px;
}

@media only screen and (max-width: 767px) {
    .title-container {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
    }

    .localities a {
        margin-bottom: 1rem;
    }

    h1 {
        font: bold 26px/41px Lato;
    }

    .home .title-container h1 {
        margin-top: 2rem;
    }

    .bcsearch > .container {
        padding-top: 4rem;
    }

    .bcheaderimage {
        padding-bottom: 2rem;
    }

    .bcmain h2 {
        font-size: 22px;
    }

    .subtitle {
        font: normal normal bold 20px/34px Lato;
    }

    .form-group {
        width: 100%;
    }

    .find-button {
        width: 100%;
    }

}

@media only screen and (max-width: 365px) {
    .navbar-toggler-icon {
        width: 1rem;
    }

}


.title1 {
    font-size: 2.5rem;
    font-family: Lato, sans-serif;
    color: white;
}

.title2 {
    font-size: 1.5rem;
    font-family: Lato, sans-serif;
    color: white;
}


.home-main-seo-and-footer {
    background: linear-gradient(45deg, #b5b5b5 0, #f6f6f6 40%, #f6f6f6 60%, #b5b5b5 100%);
}

.home-main-section {
    padding: 3rem 0;
}

.home-main-section.further-info {
    background-color: transparent;
    margin-left: 5%;
}

.home-main-section.further-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    line-height: 1.6;
}

.home-main-section.further-info ul > li {
    flex: 0 1 20rem;
    list-style-type: none;
    text-align: left;
}


.main-footer {
    padding: 2rem 1rem 1rem 1rem;
    text-align: center;
}

.main-footer a {
    color: #555;
    transition: color 1s
}

.main-footer a:hover {
    color: black
}

.main-footer p {
    color: #555;
    margin-bottom: 1rem
}

.social-media-row {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem
}

.social-media-icon {
    width: 30px;
    height: 30px;
    margin: 0 4px
}

.footerLinks {
    margin: 1ex 0;
}

.footerLinks > form {
    display: inline-block;
}

.footerLinks > form > button {
    margin: 0;
    padding: 0;
    color: #555;
}

.footerLinks > form:not(:first-child)::before,
.footerLinks > span:not(:first-child)::before {
    content: "\00b7";
    padding: 0 2px;
}

.errorpage {
    padding: 1rem 0;
    text-align: center;
}

.errorpage > img {
    height: 300px;
}

.errorpage .detailerrorinfo {
    text-align: left;
    font-family: monospace;
}

.errorpage .btn {
    background-color: #f8b10e;
    color: white;
    border: transparent;
    border-radius: 0;
}

.passimg {
    width: 120px;
    height: 120px;
    object-fit: contain;
}
