<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="~{header :: header(pagetype=${pagetype})}"><title></title></head>
<body>
<nav th:replace="~{menu :: menu(pagetype=${pagetype})}"></nav>

<div class="container-fluid title-container bcsearch bcheaderimage bchomeimage">
    <div class="home container text-center">
        <h1 th:text="#{home.welcome1}">Hi ya!</h1>
        <p class="lead" th:text="#{home.welcome2}">welcome1</p>

    </div>
</div>

<div class="container bcmain">

</div>

<footer th:replace="~{footer :: footer(pagetype=${pagetype})}"></footer>
</body>
</html>
