<!DOCTYPE HTML>
<!--suppress HtmlUnknownTarget, HtmlUnknownTag -->
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<body>

<nav th:fragment="menu(pagetype)" class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">
    <img class="gy-logo" src="/mcstatic/images/icons/gylogo.png" alt="GoYellow Logo">
    <span th:text="#{menu.title}">Contagio</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li sec:authorize="hasRole('ROLE_USER')" class="nav-item active">
        <a class="nav-link" href="/overview">Overview</a>
      </li>
      <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item active">
        <a class="nav-link" href="/createpass">Neuer Pass</a>
      </li>
      <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
        <a class="nav-link" href="/teststation">Teststations</a>
      </li>
      <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
        <a class="nav-link" href="/tester">Tester</a>
      </li>
    </ul>
  </div>

  <div class="navbar-text userinfo"><i class="fas fa-user"></i><span class="username" sec:authentication="name">Bob</span></div>
</nav>

</body>
</html>
