<!DOCTYPE HTML>
<!--suppress HtmlUnknownTarget, HtmlUnknownTag -->
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<body>

<nav th:fragment="menu(pagetype)" class="navbar navbar-expand-lg" th:classappend="${pageType}">
  <div th:if="${pagetype == 'verify'}" class="navbar-brand">
    <img class="gy-logo" src="/mcstatic/images/icons/gylogo.png" alt="GoYellow Logo">
    <span th:text="#{menu.verifymessage}">Contagio</span>
  </div>

  <a th:if="${pagetype != 'verify'}" class="navbar-brand" href="/">
    <img class="gy-logo" src="/mcstatic/images/icons/gylogo.png" alt="GoYellow Logo">
    <span th:text="#{menu.title}">Contagio</span>
  </a>

  <th:block th:if="${pagetype != 'verify'}">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li sec:authorize="hasRole('ROLE_USER')"
            class="nav-item"
            th:classappend="${pageType == 'pass'} ? 'active' : ''">
          <a class="nav-link" href="/pass" th:text="#{menu.link.pass}">Overview</a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"
            class="nav-item"
            th:classappend="${pageType == 'teststation'} ? 'active' : ''">
          <a class="nav-link" href="/teststation" th:text="#{menu.link.teststations}">Teststations</a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"
            class="nav-item"
            th:classappend="${pageType == 'tester'} ? 'active' : ''">
          <a class="nav-link" href="/tester" th:text="#{menu.link.tester}">Tester</a>
        </li>

        <li sec:authorize="hasRole('ROLE_ADMIN')"
            class="nav-item"
            th:classappend="${pageType == 'registrationinfo'} ? 'active' : ''">
          <a class="nav-link" href="/registrationinfo" th:text="#{menu.link.registrationinfo}">Registration Info</a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"
            class="nav-item"
            th:classappend="${pageType == 'deviceinfo'} ? 'active' : ''">
          <a class="nav-link" href="/deviceinfo" th:text="#{menu.link.deviceinfo}">Device Info</a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"
            class="nav-item"
            th:classappend="${pageType == 'passupdatelog'} ? 'active' : ''">
          <a class="nav-link" href="/passupdatelog" th:text="#{menu.link.passupdatelog}">Pass Update Log</a>
        </li>
      </ul>
      <div class="navbar-text userinfo"><i class="fas fa-user"></i><span class="username" sec:authentication="name"></span></div>
    </div>
  </th:block>


</nav>

</body>
</html>
