<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="~{header :: header(pagetype=${pagetype})}"><title></title></head>
<body>
<nav th:replace="~{menu :: menu(pagetype=${pagetype})}"></nav>

<div class="container-fluid overview main">
  <h1 th:text="#{overview.title.h1}">Übersicht über die ausgestellten Pässe</h1>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th th:text="#{field.name}">Name</th>
            <th th:text="#{field.image}">Bild</th>
            <th th:text="#{field.testtype}">Testtyp</th>
            <th th:text="#{field.testresult}">Testresultat</th>
            <th th:text="#{field.validuntil}">Gültig bis</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="p : ${passInfo.content}">
            <td>
              <a th:title="#{overview.opendetails.title}" title="Passdetails öffnen"
                 th:href="@{/showpass(serialNumber=${p.serialNumber},showDetails=true)}" th:text="${p.person.fullName}"></a>
            </td>
            <td><img class="passimg" th:src="@{/co_v1/pass/image/{id}(id=${p.imageId})}"></td>
            <td th:text="#{testType.__${p.testType}__}"/>
            <td th:text="#{testResultType.__${p.testResult}__}"/>
            <td th:text="${{p.validUntil}}"/>
          </tr>
          </tbody>
        </table>
      </div>

      <div th:if="${passInfo.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/overview(size=${passInfo.size}, page=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber==passInfo.number + 1} ? active"></a>
      </div>

    </div>
  </div>
</div>

<footer th:replace="~{footer :: footer(pagetype=${pagetype})}"></footer>
</body>
</html>
