<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="~{header :: header(pagetype=${pageType})}"><title></title></head>
<body th:classappend="${pageType}">
<nav th:replace="~{menu :: menu(pagetype=${pageType})}"></nav>

<div class="container-fluid pass main">
  <nav th:replace="~{breadcrumb}"></nav>

  <h1 th:text="#{pass.title.h1}">Übersicht über die ausgestellten Pässe</h1>

  <div class="btn-group">
    <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary" href="/createpass">
      <i class="fas fa-passport"></i><span th:text="#{command.createpass}"></span>
    </a>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th th:text="#{field.name}">Name</th>
            <th th:text="#{field.issuestatus}">Ausgabestatus</th>
            <th th:text="#{field.installationstatus}">Installationstatus</th>
            <th th:text="#{field.validuntil}">Gültig bis</th>
            <th th:text="#{field.commands}">Befehle</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="p : ${passInfo.content}">
            <td>
              <a th:title="#{pass.opendetails.title}" title="Passdetails öffnen"
                 th:href="@{/showpass(serialNumber=${p.serialNumber})}" th:text="${p.serialNumber}"></a>
            </td>
            <td th:text="#{issueType.__${p.issueStatus}__}"/>
            <td th:text="#{installationStatus.__${p.passInstallationStatus}__}"/>
            <td th:text="${{p.validUntil}}"/>

            <td>
              <form method="post" id="commandform">
                <input type="hidden" name="serialnumber" th:value="${p.serialNumber}"/>
                <div class="btn-group">
                  <button class="btn btn-danger deletecommand"><span th:title="#{command.delete}"><i
                    class="fas fa-trash-alt"></i></span>
                  </button>
                  <th:block
                    th:if="${p.issueStatus != T(de.contagio.core.domain.entity.IssueStatus).REVOKED && p.issueStatus != T(de.contagio.core.domain.entity.IssueStatus).EXPIRED}">
                    <button class="btn btn-danger" name="command" value="revoke" type="submit"><span th:title="#{command.revoke}"><i
                      class="fas fa-undo"></i></span>
                    </button>
                    <button class="btn btn-danger" name="command" value="expire" type="submit"><span th:title="#{command.expire}"><i
                      class="fas fa-clock"></i></span>
                    </button>
                    <button class="btn btn-warning" name="command" value="negative" type="submit"><span th:title="#{command.negative}"><i
                      class="fas fa-user-minus"></i></span>
                    </button>
                    <button class="btn btn-warning" name="command" value="positive" type="submit"><span th:title="#{command.positive}"><i
                      class="fas fa-user-plus"></i></span>
                    </button>
                  </th:block>
                  <th:block
                    th:if="${p.issueStatus == T(de.contagio.core.domain.entity.IssueStatus).REVOKED || p.issueStatus == T(de.contagio.core.domain.entity.IssueStatus).EXPIRED}">
                    <button class="btn btn-danger" name="command" value="issue" type="submit"><span th:title="#{command.issue}"><i
                      class="fas fa-arrow-right"></i></span>
                    </button>
                  </th:block>
                </div>
              </form>


            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <nav th:replace="~{pagination :: pagination(${passInfo},'/pass')}"></nav>

    </div>
  </div>
</div>

<div id="confirmdelete" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" th:text="#{confirm.delete.title}">Delete Pass</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p th:text="#{confirm.delete.text}">Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{button.cancel}">Close</button>
        <button type="button" class="btn btn-danger delete" th:text="#{command.delete}">Delete</button>
      </div>
    </div>
  </div>
</div>

<footer th:replace="~{footer :: footer(pagetype=${pageType})}"></footer>
</body>
</html>
