<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="~{header :: header(pagetype=${pageType})}"><title></title></head>
<body th:classappend="${pageType}">
<nav th:replace="~{menu :: menu(pagetype=${pageType})}"></nav>

<div class="container showpass main">
  <nav th:replace="~{breadcrumb}"></nav>

  <h1><span th:text="#{showpass.title(${extendedPassInfo.passInfo.person.fullName})}">Pass für Member</span>
    <a class="addtowallet" th:href="@{/co_v1/pass/{id}(id=${extendedPassInfo.passInfo.passId})}"></a>
    <small class="serialno text-muted" th:text="${extendedPassInfo.passInfo.serialNumber}">serial no</small>
  </h1>
  <div class="row">
    <div class="col-12 col-lg-8 order-2 order-lg-1">

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="phoneNo" th:text="#{field.phoneno}">Telefonnummer</label>
            <input class="form-control" readonly name="phoneNo" id="phoneNo" th:value="${extendedPassInfo.passInfo.person.phoneNo}">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group" th:if="${extendedPassInfo.passInfo.person.email}">
            <label for="email" th:text="#{field.email}">E-Mail</label>
            <input class="form-control" readonly name="email" id="email" th:value="${extendedPassInfo.passInfo.person.email}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="testType" th:text="#{field.testtype}">Testtyp</label>
            <input class="form-control"
                   readonly
                   name="testType"
                   id="testType"
                   th:value="#{testType.__${extendedPassInfo.passInfo.testType}__}">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="testResult" th:text="#{field.testresult}">Testresultat</label>
            <input class="form-control"
                   readonly
                   name="testResult"
                   id="testResult"
                   th:value="#{testResultType.__${extendedPassInfo.passInfo.testResult}__}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="issueStatus" th:text="#{field.issuestatus}">Ausstellungsstatus</label>
            <input class="form-control"
                   readonly
                   name="issueStatus"
                   id="issueStatus"
                   th:value="#{issueType.__${extendedPassInfo.passInfo.issueStatus}__}">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="validUntil" th:text="#{field.validuntil}">Gültig bis</label>
            <input class="form-control" readonly name="validUntil" id="validUntil" th:value="${{extendedPassInfo.passInfo.validUntil}}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="teststationId" th:text="#{field.teststation}">ausstellende Teststation</label>
            <input class="form-control" readonly name="teststationId" id="teststationId"
                   th:value="${extendedPassInfo.testerTeststation.teststation.name}">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="testerId" th:text="#{field.tester}">Tester</label>
            <input class="form-control" readonly name="testerId" id="testerId"
                   th:value="${extendedPassInfo.testerTeststation.tester.person.fullName}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="passId" th:text="#{field.passid}">PassId</label>
            <input class="form-control" readonly name="passId" id="passId" th:value="${extendedPassInfo.passInfo.passId}">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="passId" th:text="#{field.version}">Version</label>
            <input class="form-control" readonly name="version" id="version" th:value="${extendedPassInfo.passInfo.version}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="created" th:text="#{field.created}">Erzeugt am</label>
            <input class="form-control" readonly name="created" id="created" th:value="${{extendedPassInfo.passInfo.created}}">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="created" th:text="#{field.modified}">Geändert am</label>
            <input class="form-control" readonly name="modified" id="modified" th:value="${{extendedPassInfo.passInfo.modified}}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="passInstallationStatus" th:text="#{field.installationstatus}">Status der Installation</label>
            <input class="form-control" readonly name="passInstallationStatus" id="passInstallationStatus"
                   th:value="#{installationStatus.__${extendedPassInfo.passInfo.passInstallationStatus}__}">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="passInstalled" th:text="#{field.installed}">Installiert am</label>
            <input class="form-control" readonly name="passInstalled" id="passInstalled"
                   th:value="${{extendedPassInfo.passInfo.passInstalled}}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="passType" th:text="#{field.passtype}">Passtype</label>
            <input class="form-control" readonly name="passType" id="passType"
                   th:value="#{passType.__${extendedPassInfo.passInfo.passType}__}">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="passInstalled" th:text="#{field.logotext}">Logotext</label>
            <input class="form-control" readonly name="logoText" id="logoText"
                   th:value="${{extendedPassInfo.passInfo.logoText}}">
          </div>
        </div>
      </div>

    </div>

    <div class="col-12 col-lg-4 order-1 order-lg-2 passimage">
      <img class="passimg" th:src="@{/co_v1/pass/image/{id}(id=${extendedPassInfo.passInfo.imageId})}">
      <img class="passimg" th:src="@{/co_v1/pass/{id}/qrcode(id=${extendedPassInfo.passInfo.passId})}">
    </div>
  </div>
</div>

<footer th:replace="~{footer :: footer(pagetype=${pageType})}"></footer>
</body>
</html>
