<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head th:replace="~{header :: header(pagetype=${pageType})}"><title></title></head>
<body th:classappend="${bodyCssClass}">

<nav th:replace="~{menu :: menu(pagetype=${pageType})}"></nav>

<!--/*@thymesVar id="extendedPassInfo" type="de.contagio.core.domain.entity.ExtendedPassInfo"*/-->

<div class="container showpass main" th:if="${extendedPassInfo.passInfoEnvelope}">
  <h1 th:if="${extendedPassInfo.passInfo}"><span
    th:utext="#{verify.title(${extendedPassInfo.passInfo.person.fullName})}">Pass für Member</span>
  </h1>
  <h1 th:unless="${extendedPassInfo.passInfo}"><span th:text="#{verify.loading}">Passinfo wird geladen</span></h1>
  <div class="row">
    <div class="col-12 col-lg-8 order-2 order-lg-1">

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="issueStatus" th:text="#{field.issuestatus}">Ausstellungsstatus</label>
            <input class="form-control"
                   readonly
                   name="issueStatus"
                   id="issueStatus"
                   th:value="#{issueType.__${extendedPassInfo.passInfoEnvelope.issueStatus}__}">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="validUntil" th:text="#{field.validuntil}">Gültig bis</label>
            <input class="form-control" readonly name="validUntil" id="validUntil"
                   th:value="${{extendedPassInfo.passInfoEnvelope.validUntil}}">
          </div>
        </div>
      </div>

      <div class="row" th:if="${extendedPassInfo.passInfo}">
        <div class="col-6">
          <div class="form-group">
            <label for="testType" th:text="#{field.testtype}">Testtyp</label>
            <input class="form-control"
                   readonly
                   name="testType"
                   id="testType"
                   th:value="#{testType.__${extendedPassInfo.passInfo.testType}__}">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="testResult" th:text="#{field.testresult}">Testresultat</label>
            <input class="form-control"
                   readonly
                   name="testResult"
                   id="testResult"
                   th:value="#{testResultType.__${extendedPassInfo.passInfo.testResult}__}">
          </div>
        </div>
      </div>

      <div class="row" th:if="${extendedPassInfo.passInfo}">
        <div class="col-6">
          <div class="form-group">
            <label for="phoneNo" th:text="#{field.phoneno}">Telefonnummer</label>
            <input class="form-control" readonly name="phoneNo" id="phoneNo" th:value="${extendedPassInfo.passInfo.person.phoneNo}">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group" th:if="${extendedPassInfo.passInfo.person.email}">
            <label for="email" th:text="#{field.email}">E-Mail</label>
            <input class="form-control" readonly name="email" id="email" th:value="${extendedPassInfo.passInfo.person.email}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="teststationId" th:text="#{field.teststation}">ausstellende Teststation</label>
            <input class="form-control" readonly name="teststationId" id="teststationId"
                   th:value="${extendedPassInfo.testerTeststation.teststation.name}">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="testerId" th:text="#{field.tester}">Tester</label>
            <input class="form-control" readonly name="testerId" id="testerId"
                   th:value="${extendedPassInfo.testerTeststation.tester.person.fullName}">
          </div>
        </div>
      </div>

    </div>

    <div class="col-12 col-lg-4 order-1 order-lg-2 passimage" th:if="${extendedPassInfo.passInfo}">
      <img class="passimg" th:src="@{/co_v1/pass/image/{id}(id=${extendedPassInfo.passInfoEnvelope.imageId})}">
    </div>
  </div>
</div>

<footer th:replace="~{footer :: footer(pagetype=${pageType})}"></footer>
</body>
</html>
