<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Teststation.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EDA11095F693326BB630CEE3F7542EA7060A998F</string>
				<key>dateExpires</key>
				<string>28.04.22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4V27BGKSLA.de.contagio.Teststation</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4V27BGKSLA</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Teststation.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>15cd0c43-0e39-4739-bc18-81e0a2dd2ceb</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: de.contagio.Teststation</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4V27BGKSLA</string>
				<key>name</key>
				<string>Stefan Thomas</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
